@CHARSET "UTF-8";
body {
    font-family:"微软雅黑";
    background-color: #F2F2F2;
    margin: 0;
}
.left {
    float: left;
    background-color: #FAFAFA;
    padding: 29px 40px 0 29px;
    height: 450px;
    width: 280px;
}
.right {
    float: left;
    background-color: #FFFFFF;
    padding: 29px 29px 0 60px;
    height: 450px;
    width: 539px;
    border-left: 1px solid #EAEAEA;
}
.input {
    width: 250px;
    height: 25px;
    border-radius: 4px;
    padding: 1px 0px 1px 5px;
    margin: 5px 0px 10px 0px;
    border: 1px solid #c0c0c0;
    -webkit-box-shadow: 0 0 0px 1000px white inset; /*解决chrome自动填充input变黄*/
}
.button-div {
    border-top: 1px solid #EAEAEA;
    width: 450px;
    text-align: right;
}
.button-div input {
margin: 10px 5px 0 0;
width: 80px;
height: 39px;
}
